# Dependencies
node_modules

# IntelliJ/WebStorm project files
.idea

# Built compiler and tests
compiler-build

# Other
.tscache
compiler/lib/.baseDir.ts
compiler/test/.baseDir.ts

notes
compiler/lib/test-compile-directory.ts
examples
dest